{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Información Personal</h5>
            <p class="card-text"><strong>Username:</strong> {{ user.username }}</p>
            <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
            <p class="card-text"><strong>Nombre:</strong> {{ user.first_name }}</p>
            <p class="card-text"><strong>Apellido:</strong> {{ user.last_name }}</p>
            <p class="card-text"><strong>RUT:</strong> {{ profile.rut }}</p>
            <p class="card-text"><strong>Dirección:</strong> {{ profile.direccion }}</p>
            <p class="card-text"><strong>Teléfono:</strong> {{ profile.telefono }}</p>
            <p class="card-text"><strong>Tipo de usuario:</strong> {{ profile.rol | upper }}</p>
            <a href="{% url 'edit_profile' %}" class="btn btn-primary mt-3">Editar Perfil</a>
        </div>
    </div>
</div>
{% endblock %}
